<section class="statistic">
  @if(!notFound){

  <div class="tutorials">
    <div class="svg">
      <div class="svgIcon">
        <svg-icon-sprite
          [src]="'images/sprite.svg#icon-play'"
          [width]="'20px'"
          [height]="'20px'"
        />
      </div>
    </div>
    <div>
      <p class="textMain">350+</p>
      <p class="text">Video tutorial</p>
    </div>
  </div>
  <div class="calories">
    <div class="svg">
      <div class="svgIcon">
        <svg-icon-sprite
          [src]="'images/sprite.svg#icon-run'"
          [width]="'16px'"
          [height]="'16px'"
        />
      </div>
    </div>
    <p class="textMain">500 <span class="text">cal</span></p>
  </div>
  }
</section>
