@import "../../../styles/variables";
.header {
  height: 84px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-transparent-thirdly;
  &.static {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    border: none;
  }
  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    justify-self: flex-start;
    color: $color-primary-light;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    .logoSvg {
      width: 44px;
      height: 17px;
      color: $color-primary-accent;
      &.static {
        color: $color-primary-light;
      }
    }
    .logoText {
      width: 100px;
      height: 17px;
    }
  }
  .headerUser {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .userNav {
    height: auto;
  }
}
