<header
  class="header"
  [ngClass]="{
    static:
      notFound || place === '' || place === 'login' || place === 'register'
  }"
>
  <div class="container">
    <button type="button" class="logoWrapper" (click)="redirectToHome()">
      <span class="logoSvg" [class.static]="notFound">
        <svg-icon-sprite [src]="'images/sprite.svg#icon-logo'" />
      </span>
      <span class="logoText">
        <svg-icon-sprite [src]="'images/sprite.svg#icon-logo-text'" />
      </span>
    </button>
    @if(place !== '' && place !== 'login' && place !== 'register' && !notFound){
    <div class="headerUser">
      @if(place !== 'profile'){
        <app-user-nav class="userNav"/>
      }
      <app-user-bar />
    </div>
    }
  </div>
</header>
