@import "../../../styles/variables";
.heroText{
    font-size: 70px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.01em;
    width: 598px;
    margin-bottom: 64px;
    .lineWrapper{
        position: relative;
        .lineSvg{
            display: inline-block;
            position: absolute;
            top: 8px;
            left: -15px;
            color: $color-secondary-accent;
            width: 185px;
            height: 67px;
            z-index: -1;
        }
    }
}