$color-back: #040404;
$color-primary-light: #efede8;
$color-primary-accent: #e6533c;
$color-secondary-accent: #ef8964;
$color-third-accent: #efa082;
$color-transparent-primary: rgba(239, 237, 232, 0.3);
$color-transparent-secondary: rgba(239, 237, 232, 0.65);
$color-transparent-thirdly: rgba(239, 237, 232, 0.1);
$color-primary-dark: #303030;
$color-error: #d80027;
