@import "../../../styles/variables";
:host {
  width: 100%;
}
.products {
  width: 100%;
  .titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 132px;
  }
  .title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.375;
  }
  .text {
    width: 580px;
    color: $color-transparent-primary;
    margin-bottom: 16px;
  }
  .accent {
    color: $color-primary-accent;
  }
  .img {
    position: absolute;
    right: 0;
    top: 0;
    width: 450px;
    height: calc(100vh - 84px);
    background-image: url("../../../../public/images/prodsBack.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  .filtersList{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: auto;
  }
  .inputWrapper {
    position: relative;
    .iconSearch {
      position: absolute;
      top: 17px;
      right: 14px;
      color: $color-primary-light;
      cursor: pointer;
    }
    .iconX {
      position: absolute;
      top: 17px;
      right: 38px;
      color: $color-error;
      cursor: pointer;
    }
  }
  .input {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    width: 236px;
    height: 52px;
    padding: 14px;
    color: $color-primary-light;
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid $color-transparent-primary;
  }
  p-select.categories{
    width: 192px;
  }
  p-select.recommended{
    width: 204px;
  }
  p-select{
    height: 52px;
    padding: 14px;
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid $color-transparent-primary;
  }
  ::ng-deep.p-select-label{
    color: $color-primary-light;
    padding: 0;
  }
  ::ng-deep.p-select-overlay{
    background-color: $color-back_secondary;
    border: none;
    border-radius: 12px;
    padding: 14px;
    padding-right: 7px;
    margin-top: 2px;
  }
  ::ng-deep.p-select-dropdown{
    position: relative;
    width: 18px;
    height: 18px;
  }
  ::ng-deep.p-icon{
    position: relative;
    top: 2px;
    width: 18px;
    height: 18px;
  }
  ::ng-deep.p-select-list-container{
    max-height: 300px !important;
  }
  ::ng-deep.p-select-list-container::-webkit-scrollbar {
    background: transparent;
    width: 8px;      
  }
  
  ::ng-deep.p-select-list-container::-webkit-scrollbar-thumb {

    background-color: $color-transparent-thirdly;
    border-radius: 12px;
    border: none
  }

  ::ng-deep.p-select-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  ::ng-deep.p-select-option{
    color: $color-primary-light;
    padding: 0;
  }
  ::ng-deep.p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus{
    color: $color-secondary-accent;
    background-color: transparent;
  }
  ::ng-deep.p-select-option.p-select-option-selected{
    color: $color-primary-accent;
    background-color: transparent;
  }
  ::ng-deep.p-select-option.p-focus{
    color: $color-secondary-accent;
    background-color: transparent;
  }
}
